# 通义千问模型密钥，请替换为你自己的百炼API密钥
DASHScope_API_KEY=sk-xxx

# 后端服务端口（和docker端口映射统一8000）
SERVER_PORT=8000

# 调试模式：True开启日志、报错详情，False生产关闭
DEBUG=True

# 服务监听地址
SERVER_HOST=0.0.0.0

# 跨域，多域名写法：http://localhost:3000,http://127.0.0.1:8080
ALLOW_ORIGINS=*